﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Just a simple little learning app to practice building out a basic app in ASP .NET 4.5 and compare / contrast it to .NET Core.</p>
