﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Contact:</strong>   <a href="mailto:matt.eland@gmail.com">Matt.Eland@GMail.com</a>
</address>