﻿@model MVC_4_5_Learning.Models.Battlebot

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Battlebot</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumMatches)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumMatches)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumWins)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumWins)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumLosses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumLosses)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumWheels)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumWheels)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumBlades)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumBlades)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasFlamethrower)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasFlamethrower)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
