﻿@model MVC_4_5_Learning.Models.Battlebot

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Battlebot</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumMatches)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumMatches)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumWins)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumWins)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumLosses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumLosses)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumWheels)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumWheels)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumBlades)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumBlades)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasFlamethrower)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasFlamethrower)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
