﻿@model IEnumerable<MVC_4_5_Learning.Models.Battlebot>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumMatches)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumWins)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumLosses)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumWheels)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumBlades)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HasFlamethrower)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumMatches)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumWins)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumLosses)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumWheels)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumBlades)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HasFlamethrower)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
